<div class="mat-toolbar mat-primary p-2">
  <h4 mat-dialog-title class="text-light" *ngIf="!data.isEdit">
    <mat-icon class="me-2 position-relative" style="top: 0.2em">add</mat-icon>
    Create a new Genre
  </h4>
  <h4 mat-dialog-title class="text-light" *ngIf="data.isEdit">
    <mat-icon class="me-2 position-relative" style="top: 0.2em">edit</mat-icon>
    Edit a Genre
  </h4>
</div>
<div mat-dialog-content class="p-3">
  <p>Fill out the form.</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="hasError('name')">
        <strong>{{ getError("name") }}</strong>
      </mat-error>
    </mat-form-field>
    <div mat-dialog-actions class="mt-2">
      <button
        mat-raised-button
        class="btn btn-success btn-sm me-2"
        type="submit"
      >
        {{ data.isEdit ? "Edit" : "Create" }}
      </button>
      <button
        mat-raised-button
        class="btn btn-danger btn-sm"
        (click)="dialogRef.close()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
