.example-spacer {
  flex: 1 1 auto;
}

.menu-item {
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
}

.menu-item:hover {
  background-color: #fff;
  color: #000;
}

.menu-icon {
  margin-right: 5px;
  line-height: 1.5;
}

.active {
  background-color: #fff;
  color: #000 !important;
}
