<div class="p-4">
  <div class="d-flex justify-content-between">
    <h4 class="fs-6">Genres</h4>
    <button mat-button class="btn btn-success text-light fs-6">Create</button>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <table class="table table-striped shadow w-50">
      <thead class="mat-toolbar mat-primary text-light fs-6">
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Romantic</td>
          <td>
            <button
              mat-button
              class="btn btn-warning me-2 text-light fs-6 btn-sm"
            >
              <mat-icon class="position-relative" style="top: 0.15em"
                >edit</mat-icon
              >
              Edit
            </button>
            <button mat-button class="btn btn-danger btn-sm fs-6">
              <mat-icon class="position-relative" style="top: 0.15em"
                >delete_forever</mat-icon
              >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
