<div class="p-4">
  <div class="d-flex justify-content-between">
    <form [formGroup]="searchForm" class="card">
      <div class="card-header mat-toolbar mat-primary text-light">
        <mat-icon class="me-2 position-relative" style="top: 0.2em"
          >search</mat-icon
        >
        Filter Authors
      </div>
      <input
        mat-input
        type="text"
        class="form-control input outline-none input"
        placeholder="Search Author by name"
        formControlName="name"
      />
    </form>

    <button class="btn btn-info text-light h-50" (click)="openDialog()">
      Create
    </button>
  </div>

  <div class="card w-50" style="margin: 0 auto" *ngIf="authors.length === 0">
    <div class="card-header mat-toolbar mat-primary">No Authors</div>
    <div class="card-body">
      <p class="card-text">
        <mat-icon class="me-2 position-relative" style="top: 0.2em"
          >info</mat-icon
        >
        There are no authors in the database. Click the create button to add
        one.
      </p>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4" *ngIf="authors.length > 0">
    <table class="table table-striped shadow">
      <thead class="mat-toolbar mat-primary text-light fs-6">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Birth Date</th>
          <th>Book Count</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authors">
          <td>{{ author.firstName }}</td>
          <td>{{ author.lastName }}</td>
          <td>{{ author.address }}</td>
          <td>
            <a href="mailto:johndoe@gmail.com">{{ author.email }}</a>
          </td>
          <td>{{ author.birthDate }}</td>
          <td>{{ author.bookCount }}</td>
          <td>
            <button
              class="btn btn-sm btn-warning text-light fs-6 me-2"
              (click)="openEditDialog(author.id)"
            >
              <mat-icon class="position-relative fs-5" style="top: 0.3em"
                >edit</mat-icon
              >Edit
            </button>
            <button
              class="btn btn-sm btn-danger text-light text-light fs-6"
              (click)="openDeleteDialog(author.id)"
            >
              <mat-icon class="position-relative fs-5" style="top: 0.3em"
                >delete_forever</mat-icon
              >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
